body{
  background-color:rgb(255, 255, 255);
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav {

  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;


}

nav .Navigation{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
  display: inline-flex;
  justify-content: space-between;

}


nav .Logo{
  float:left;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

nav .Logo h1 a{
  color: rgb(186, 168, 155);
  text-decoration: none;
  font: italic 1.2em "Fira Sans", serif;
  font-size: 33px;
}


.main {
  padding: 16px;
  margin-top: 150px;
  margin-left: 10%;
  margin-right: 10%;
  height: 1500px; /* Used in this example to enable scrolling */
}



/*DropDownSkin Care button*/
/*https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp*/

.dropdown{
  position: relative;
  display: inline;

}

.dropdownButton{
  font-size: 17px;
  border: none;
  outline: none;
  padding: 14px 14px;
  background-color: inherit;
  font-family: inherit;
}

.dropdownButton a{
  text-decoration: none;
  color: rgb(186, 168, 155);
  padding-right: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 200px;
}

.dropdown-content a {
  color: rgb(186, 168, 155);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/*Slide show container*/

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: black;
  font-weight: bold;
  font-size: 18px;
  user-select:none;
  width: 15px;

}

.next {
  right: 0;
  cursor: pointer;
}

.prev:hover, .next:hover {
  color: rgb(186, 168, 155);
}

.container{
  background-color: rgb(255, 255, 255);
  height: 300px;
  padding-left:15px;
  padding-right: 15px;
  position: relative;


}

.image{
  position: absolute;
  padding-left: 30px;

}

.text{
  position: absolute;
  margin-left: 400px;
  height: 300px;
  width: auto;
}


.text p{
  padding-top: 70px;
  padding-right: 15px;
  color:  rgb(230, 172, 95);
  font-size: 30px;
  text-align: center;
}

.DiscoverButton{
  position: absolute;
  bottom: 10px;
  width: auto;
  right: 20px;
}

.DiscoverButton a{
  text-align: center;
  text-decoration: none;
  color: rgb(230, 172, 95);
  background-color:rgb(222, 221, 220);
}

.DiscoverButton a:hover{
  background-color: white;

}
